/* ---------- */
/* - HEADER - */
/* ---------- */
header {
  background: $primary-color; /* fallback for old browsers */
  text-align: center;
  background: -webkit-linear-gradient(to left, $primary-color, $primary-color-dark);
  background: linear-gradient(to left, $primary-color, $primary-color-dark);
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  margin-top: 40px;
  text-shadow: 1px 1px $accent-color;
}

h2.i-am {
  margin-top: 12%;
}
/* ---------- */
/* -- LOGO -- */
/* ---------- */

.mast-head a .logo {
  margin-top: 25px;
}

.mast-head nav .logo {
  display: none;
}

.active-logo {
  margin: 0;
  width: 50%;
  display: inline;
}

/* ---------- */
/* -- NAV --- */
/* ---------- */
.sub-head {
  padding-right: 8.5em;
}
.main-nav {
  position: absolute;
  bottom: 0;
}

nav.main-nav {
  margin-bottom: 4em;
}

/* ---------- */
/* --LINKS -- */
/* ---------- */
.mast-head li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 155%;
  transition: border-bottom .2s, color .2s;
}
.main-nav a:link,
.main-nav a:visited {
  color: $secondary-text-color;
  transition: color .2s, border-bottom .2s;
}
.main-nav a:hover,
.main-nav a:active,
.selected {
  color: $primary-color-text;
  border-bottom: 2px solid $primary-color-text;
}

/* ------------------ */
/* - Sidebar-button - */
/* ------------------ */
.btn.btn-side {
  color: $secondary-text-color;
  font-size: 100%;
  background-color: $accent-color;
  position: absolute;
  right: 0;
}
