/* ---------- */
/* - HEADER - */
/* ---------- */
header {
  background: $primary-color; /* fallback for old browsers */
  font-family: $body-font;
  font-weight: 300;
  text-align: center;
  background: -webkit-linear-gradient(to left, $primary-color, $primary-color-dark);
  background: linear-gradient(to left, $primary-color, $primary-color-dark);
  height: 100vh;
  margin-bottom: 20px;
}

h1 {
  margin-top: 40px;
  color: $primary-text-color;
  font-weight: 300;
}

h2.i-am {
  margin-top: 12%;
}

// Qualities Displayed
.attr {
  font-size: 120%;
  font-family: $heading-font;
  color: $accent-color;
  font-weight: bold;
}

/* ---------- */
/* -- LOGO -- */
/* ---------- */

.mast-head a .logo {
  margin-top: 25px;
}

.mast-head nav .unactive-logo {
  display: none;
}

.active-logo {
  margin: 0 !important;
  width: 60%;
  display: inline;
}

/* ----------------- */
/* -- NAV HEADER --- */
/* ----------------- */
nav {
  position: relative;
}
.sub-head {
  padding-right: 8.5em;
}
.main-nav {
  position: absolute;
  bottom: 0;
}

nav.main-nav {
  margin-bottom: 4em;
}

/* ----------------- */
/* --- NAV BODY ---- */
/* ----------------- */

nav.nav-body {
  background-color: $primary-color-text;
  position: fixed;
  top: 0;
  height: 9%;
  width: 60.6%;
  padding: 0;
  z-index: 1;
  border-radius: 5%;
}

.nav-body li {
  padding: 25px 0 0 8%;
}

/* ------------------ */
/* -- LINKS HEADER -- */
/* ------------------ */
.mast-head li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 155%;
  transition: color .2s;
}
.main-nav a:link,
.main-nav a:visited {
  color: $secondary-text-color;
  transition: color .2s;
}
.main-nav a:hover,
.main-nav a:active,
.selected {
  color: $primary-color-text;
}

/* ------------------ */
/* -- LINKS BODY -- */
/* ------------------ */
.nav-body a:hover,
.nav-body a:active,
.selected {
  color: $divider-color;
}

/* ------------------ */
/* - Sidebar button - */
/* ------------------ */
.btn.btn-side {
  color: $secondary-text-color;
  font-size: 100%;
  background-color: $accent-color;
  position: absolute;
  right: 0;
}
