header {
  background: $primary-color; /* fallback for old browsers */
  text-align: center;
  background: -webkit-linear-gradient(to left, $primary-color, $primary-color-dark);
  background: linear-gradient(to left, $primary-color, $primary-color-dark);
  background-attachment: fixed;
  height: 100vh;
}

.mast-head {
  position: relative;
}
.mast-head ul{
  position: absolute;
  bottom: 0;
}
.mast-head .logo {
  margin-top: 15px;
}
.mast-head nav .logo {
  margin: 0;
  width: 50%;
  display: inline;
}

.mast-head li {
  text-transform: uppercase;
  font-size: 155%;
}
