section.portfolio {
  background-color: $primary-color-section;
}

.portfolio h2 {
  margin-top: 30px;
}

.portfolio .box:nth-child(even) {
  clear:both;
  float: right;
}

.portfolio .box:last-child {
  margin-bottom: 45px;
}
